body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('img/spaceship-1548838_1920.jpg'); /* imagen de fondo*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}



.seccion a{
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px;
  height: 30px;
  text-decoration: none;
  color: white;
  background-color: rgb(159, 159, 223);
  border-radius: 10px;
  border: 10px;
}

/* Estilos para el pie de página */
footer {
  background-color: #3333338e;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}




.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinner {
  border: 8px solid #3498db;
  border-top: 8px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  
}

.content {
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body {
  margin: 0;
  padding: 0;
  perspective: 800px;
}

.navbar a {
  color: #000000;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;

}
.navbar{
  background-color: #101920;
  padding: 30px;
  text-align: center;
  color: white;
  text-decoration: none;
  list-style: none;
}
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tituloweb{
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 50px;
}

.tituloweb a{
  text-decoration: none;
  color: white;
  background-image: linear-gradient(
      150deg,
      #9500,
      #09F,
      #00DDFF
  );
  border-radius: 10px;
}

img{
  width: 100px;
  height: 100px;
  display: flex;

}

.cubo {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: center;
  animation: girarCubo 5s infinite linear;
}

.cubo .cara-frontal,.cara-izquierda,.cara-trasera{
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.seccion {
  max-width: 800px;
  font-size: 30px;
  margin: 20px auto;
  padding: 20px;
}

.seccion a{
  height: 100px;
  list-style: none;
  color: black;
  border-radius: 30px;
  background-image: linear-gradient(
      150deg,
      #9500,
      #09F,
      #00DDFF
  );
}
 


.video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

/* Estilos para cada video */
.video-wrapper video.fullscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 80%; /* Ajusta según sea necesario */
  max-width: 800px; /* Ajusta según sea necesario */
  height: auto;
}

.video-wrapper {
  margin: 10px;
  margin-bottom: 20px;
}

.video-wrapper video {
  border-radius: 8px; /* Ajusta según tus preferencias */
}

.video-wrapper video  {
  width: 100%;
  max-width: 500px; /* Ajusta el ancho máximo de cada video según tus preferencias */
  aspect-ratio: 16 / 9;
  cursor: pointer;
}

.video-wrapper video {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajusta según tus preferencias */
}



.cara {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 5px solid #000000;
  border-radius: 30px;
}

.cara-frontal { transform: translateZ(100px); }
.cara-trasera { transform: rotateY(180deg) translateZ(100px); }
.cara-izquierda { transform: rotateY(-90deg) translateZ(100px); }
.cara-derecha { transform: rotateY(90deg) translateZ(100px); }
.cara-superior { transform: rotateX(90deg) translateZ(100px); }
.cara-inferior { transform: rotateX(-90deg) translateZ(100px); }

.centro {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #000000;
  border-radius: 50%;
  top: 80px;
  left: 80px;
}

/* Estilos adicionales para mejorar la legibilidad en pantallas más pequeñas */
h1 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
}

@media screen and (max-width: 600px) {
  .navbar button {
      margin: 5px;
  }

  .content {
      padding: 10px;
  }

  .seccion {
      margin: 10px;
  }

  .video-wrapper {
    margin: 5px;
    flex-basis: 100%; /* Hace que los videos ocupen el 100% del ancho en pantallas pequeñas */
}

}

@keyframes girarCubo {
  from {
      transform: rotateY(0deg);
  }
  to {
      transform: rotateY(360deg);
  }
}




#loading{
	background-color: rgb(42, 166, 193 );
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
	margin-top: 0px;
	top: 0px;
}
#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
	}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 200px;
	width: 200px;
	margin-top: -100px;
	margin-left: -100px;
}
.object{
	width: 50px;
	height: 50px;
	background-color: rgba(255,255,255,0);
	margin-right: auto;
	margin-left: auto;
	border: 4px solid #FFF;
	left: 73px;
	top: 73px;
	position: absolute;
}

#first_object{
	-webkit-animation: first_object_animate 1s infinite ease-in-out;
	animation: first_object_animate 1s infinite ease-in-out;
}
	
#second_object{
	-webkit-animation: second_object 1s forwards, second_object_animate 1s infinite ease-in-out;
	animation: second_object 1s forwards, second_object_animate 1s infinite ease-in-out;
	}	
#third_object{
	-webkit-animation: third_object 1s forwards, third_object_animate 1s infinite ease-in-out;
	animation: third_object 1s forwards, third_object_animate 1s infinite ease-in-out;
	}	
	
	
	
@-webkit-keyframes second_object {
 100% { width: 100px; height:100px; left: 48px; top: 48px; }
}		
@keyframes second_object {
100% { width: 100px; height:100px; left: 48px; top: 48px; }
}


@-webkit-keyframes third_object {
 100% { width: 150px; height:150px; left: 23px; top: 23px;}
}		
@keyframes third_object {
100% { width: 150px; height:150px; left: 23px; top: 23px;}
}


@-webkit-keyframes first_object_animate {
  0% { -webkit-transform: perspective(100px); }
  50% { -webkit-transform: perspective(100px) rotateY(-180deg); }
  100% { -webkit-transform: perspective(100px) rotateY(-180deg) rotateX(-180deg); }
}

@keyframes first_object_animate {
  0% { 
    transform: perspective(100px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(100px) rotateX(0deg) rotateY(0deg); 
  } 50% { 
    transform: perspective(100px) rotateX(-180deg) rotateY(0deg);
    -webkit-transform: perspective(100px) rotateX(-180deg) rotateY(0deg) ;
  } 100% { 
    transform: perspective(100px) rotateX(-180deg) rotateY(-180deg);
    -webkit-transform: perspective(100px) rotateX(-180deg) rotateY(-180deg);
  }
}



@-webkit-keyframes second_object_animate {
  0% { -webkit-transform: perspective(200px); }
  50% { -webkit-transform: perspective(200px) rotateY(180deg); }
  100% { -webkit-transform: perspective(200px) rotateY(180deg) rotateX(180deg); }
}	


@keyframes second_object_animate {
  0% { 
    transform: perspective(200px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(200px) rotateX(0deg) rotateY(0deg); 
  } 50% { 
    transform: perspective(200px) rotateX(180deg) rotateY(0deg);
    -webkit-transform: perspective(200px) rotateX(180deg) rotateY(0deg) ;
  } 100% { 
    transform: perspective(200px) rotateX(180deg) rotateY(180deg);
    -webkit-transform: perspective(200px) rotateX(180deg) rotateY(180deg);
  }
}




@-webkit-keyframes third_object_animate {
  0% { -webkit-transform: perspective(300px); }
  50% { -webkit-transform: perspective(300px) rotateY(-180deg); }
  100% { -webkit-transform: perspective(300px) rotateY(-180deg) rotateX(-180deg); }
}

@keyframes third_object_animate {
  0% { 
    transform: perspective(300px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(300px) rotateX(0deg) rotateY(0deg); 
  } 50% { 
    transform: perspective(300px) rotateX(-180deg) rotateY(0deg);
    -webkit-transform: perspective(300px) rotateX(-180deg) rotateY(0deg) ;
  } 100% { 
    transform: perspective(300px) rotateX(-180deg) rotateY(-180deg);
    -webkit-transform: perspective(300px) rotateX(-180deg) rotateY(-180deg);
  }
}

button{
border:0;
background-image: linear-gradient(
      150deg,
      #9500,
      #09F,
      #00DDFF
  );
border-radius: 8px;
color:#fff;
font-size: 20px;
padding: 10px;
cursor: pointer;
transition: .3s;
}
